*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  font-size: 16px;
  background: linear-gradient(-100deg,#A2F2F1 0%, #B19AFE 100%);
  height: 100vh;
}
*{
  font-family: Arial, Helvetica, sans-serif;
}

.center{
  position: absolute;
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 32rem;
  background: white;
  border-radius: 10px;
  padding : 40px;
}

.header{
  font-weight:normal;
  margin-bottom: 20px;
}

.subheader{
  font-weight: normal;
   color: #848694;
}

.profile h3{
  color: #848694;
  margin-bottom: 40px;
}

.container{
  box-sizing: border-box;
}

.container .txt_field{
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}
.txt_field input{
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}

.txt_field label{
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
}

.txt_field span::before{
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #2691d9;
}

.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{
  width: 100%;
}

.signup_link{
  width: 30%;
  margin-left: auto;
  margin-right: 0px;
  margin-bottom: 30px;
  display: block;
  /* text-align: center; */
  font-size: 16px;
  color: #666666;
}

.signup_link a{
  color: #2691d9;
  text-decoration: none;
}

.signup_link a:hover{
  text-decoration: underline;
}

#profile img{
  width: 5.25rem;
  height: 5.25rem;
  border-radius: 50%;
  display: block;
  margin-left:auto;
  margin-right:auto;
}

.flexIconAndInput img{
  width:30px;
  height: 30px;
  margin-right: 10px;
  border-radius:50%;
}

.centerProfile{
  width: 1200px;
  margin: auto;
  display: flex;
}

#profile{
  width: 700px;
  max-width: 18rem;
  background-color: #f4fcfd;
  padding: 0 0;
}

#down{
  height: 3.75rem;
  padding: 10px;
  display: flex;
  justify-content:space-between;
  background-color:#f4fcfd;
}

#posts{  
  font-size: 0.75rem;
}

.counter{
  font-size: 1.125rem;
  font-weight: bold;
  color : #56bed7;
}

#likes{
  font-size: 0.75rem;
  /* margin: 10px;  */
  margin-left:10px;
}

#name{
  text-align: center;
}

.comments{
  max-width:55rem;
  margin-left: 20px;
  background-color: white;
}

p{
  text-align: left;
}

.comment-bar{
  height: 30px;
  border-radius: 15px;
  border:1px solid lightgray; 
  padding: 10px 10px;
  width: 100%;
}

.flexIconAndInput{
  background-color: #f4fcfd;
 padding: 8px 20px;
}

.flexIconAndInput i{
  position: relative;
  padding: 10px;
  margin-right: 0px;  
}

#log-out .btn{
  border:1px solid #52bdd6;
  border-radius: 25px;
  color:#52bdd6;
  font-weight:bold;
  padding : 10px;
}

.post{
  margin-left: 10px;
  margin-right: 10px;
  border-top: 2px solid lightblue;
  padding: 20px;
  display:block;
}

.second-message h3{
  text-align:left;
}

.profilePic{
  border-radius:50%;
  width:2.5rem;
  height:2.5rem;
}

.flex2{
  padding: 10px 0;
  display: flex;
}

.flex2 label{
  margin-left: 20px;
}

#newsFeed{
  width: 50%;
  background-color: white;
}

#newsfeed input{
  margin-bottom:10px;
  width:100%;
}

#button{
  width: 35%;
  height: 50px;
  font-size: 16px;
  border: 1px solid;
  background: #54bdd6;
  border-radius: 25px;
  color: #e9f4fb;
  outline: none;
  margin-left: auto;
  margin-right: 0px;
  margin-bottom: 30px;
  display: block;
}

.button-flex{
  display: flex;
  justify-content: right;
}

.postButton{ 
  background-color: teal;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top:5px;
  border-radius: 20px;
}

.post{
  margin: 10px;
  animation-name: colorChange;
  animation-duration: 4s;
  background-color: #A2F2F1;
}

@keyframes colorChange {
  from {background-color: teal;}
  to {background-color: #A2F2F1;}
}

#postCreate{
  width : 70%;
  margin: auto; 
}

#alert{
  display:none;
}

#dont-match, #too-short, #username-taken{
  color: darkred;
  display: none;
}

#flexProfilePicture{
  display: flex;
}

#postList{
  background-color: #f4fcfd;
}

#change-profile-pic{
  background-color: teal;
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin-top:5px;
  border-radius: 20px;
}

#change-profile-pic-div{
  margin-left:12px;
}

#user{
  text-align: center;
}

i{
  margin-top:10px;
}

.comments{

  width:100%;
  /* height:800px; */
  background-color:#A2F2F1;
  padding:10px 12px 10px 12px;
  margin-top:20px;
  box-sizing:border-box;
}

.comments h5{
  font-weight:bold;
  float:right;
}

.comment{
  background-color:#ffff;
  margin-bottom:20px;
  box-sizing:border-box;
  border-radius:7px;
  padding:18px 20px 18px 20px;
  height:200px;
}

#field-comment{
  margin-top:20px;  
}

.comment .comment-flex p{
  color:#0000ff;
}

#send{
    width:100px !important ;
    height:30px;
    box-sizing: border-box;
    border-radius:8px;
    float:right;
    font-weight:bold;   
}

#send:hover{
  background-color:teal;
}

#resultsDiv{
  width: 100%;
  background-color: white;
  height: 500px;
}

.follow-button{
  width:200px;
  height:40px;
  border:none;
  box-sizing: border-box;
  border-radius:5px;
  color:#fff;
  font-size:20px;
  background-color:teal;
  padding:6px 9px 6px 8px;
  margin-left:120px;
  cursor:pointer;
}

.user-flex{
  margin-bottom:10px;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  margin-left: 50px;
  width: 70%;
  margin-left: auto;
  margin-right:auto;
}

.center-search-result{
  width: 30%;
  margin: auto;
}

